.vscode
vendor/
.idea
.DS_Store
node_modules/
build/
packages/**/dist/
packages/editor/.cache/
.phpunit.result.cache
*.log
.pnpm-store
wp-content/
references
__pycache__
artifacts
*_bak/*
*_bak
languages/*.json
languages/*.mo
!languages/untranslated/
!languages/untranslated/*.json
